%body
  %div.wrapper
    %div.menu
      %div.menu__right
        %div.group__display
          %div.group__display--name
            %h2 sample
            %ul
              %li Members:
              %li seo
              %li neko
          %a.edit
            -# = link_to edit_group_path(@group) do
            %div.edit__button Edit
    %div.content__messages
      %div.message
        %div.message__info
          %p seo
          %ul
            %li 2017-05-18
            %li 13:19:51 UTC
        %p.text はじめまして
      %div.message
        %div.message__info
          %p seo
          %ul
            %li 2017-05-18
            %li 13:20:00 UTC
        %p.text よろしくお願いします
    %div.form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
